<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid'; 
    $pos = $block->getPositioned();
    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>

<head>
<style>
.icon
{
    display: inline-block;
    padding-left: 15px;
}
i {
    font-size: 18px;
}
.btn-display
{
    width:37px;
    height: 36px;
    padding: 0px;
    background-color: #FFF; 

}
.btn-cart
{
    background-color: #FF8400;
}

.space{
    padding-top: 20px;
}
</style>
</head>    
<div  class="block widget space block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php if ($title):?>
        <div >
            <strong style="font-size: 18px"><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items <?php /* @escapeNotVerified */ echo $type; ?>">

                    <?php $iterator = 1; ?>
                    
                    <?php foreach ($items as $_item): ?>
                        <?php
                            $productImage = $block->getImage($_item, $image);
                            if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                    ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="images-container">
                        
                            <div class="product-hover">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?php echo $productImage->toHtml(); ?>
                                </a>
                            </div>
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"><div class="hover-image-box" ><div style="margin-left: 35px">View Product</div></div></a>
                        
                        </div>
                        <div class="product-item-info">

                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php
                                echo $block->getProductPriceHtml($_item, $type);
                                ?>

                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>
                                </div>
                                <div class="actions-no hover-box ">
                                <div class="product-item-inner actions clearfix">
                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product product-item-actions icon show-box"<?php echo strpos($pos, $mode . '-actions') ? $position : ''; ?>>
                                        <?php if ($showCart): ?>
                                            <!-- <div class="actions-primary action-cart"<?php echo strpos($pos, $mode . '-primary') ? $position : ''; ?>> -->
                                                <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                            <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                        class="action tocart primary button btn-cart" >
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                        </form>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                            class="action tocart primary btn-cart btn-display">
                                                            <!-- <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span> -->
                                                           <i class="fa fa-shopping-cart fa-o"  style="font-size: 18px ; color: white "></i>
                                                        </button>
                                                        <?php endif; ?>
                                                    <?php else: ?>
                                                        <?php if ($_item->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                        <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                        <?php endif; ?>
                                                <?php endif; ?>
                                            <!-- </div> -->
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <!-- <div data-role="add-to-links" class="actions-secondary"> -->
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <button href="#"
                                                    class="action towishlist link-wishlist btn-display"
                                                    title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                    aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                    data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                    data-action="add-to-wishlist"
                                                    role="button">
                                                    <i class="lnr lnr-heart icons" style="color: #000000"></i>
                                                    <!-- <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span> -->
                                                    </button>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                     <button href="#"
                                                    class="action tocompare link-compare btn-display"
                                                    title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                    aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                    data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item); ?>'
                                                    role="button">
                                                    <i class="lnr lnr-sync icons"></i>
                                                    <!-- <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span> -->
                                                    </button>
                                                <?php endif; ?>
                                            <!-- </div> -->
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                                </div>
                                </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
