p {margin:0;}
#nav-order .badge{float: right}
.overflowx-scroll{overflow-x: scroll;}

#app {
	margin-top: 53px;
}

#app {
	padding-top:30px; 
}

body {
	background-color: #fcfcfc;
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

.navbar {
	margin-bottom: 0;
	background-color: #3a3b3c;
}

#navbar-brand nav navbar-nav navbar-right {
	background-color: black;
}
.nav.navbar-nav navbar-brand {
     color: black !important; 
 }

.nav.navbar-nav li a {
 color: white; 
}
.nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus { 
 color: white;
}

.color-white {
	color: #fff;
	
}

.panel-dark {
	background: rgba(0,0,0,0.7);
	color: #E9AF10;
}

/*.btn-primary {
	background-color: #E9AF10;
	color: black;
	border-color:#E9AF10;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: black;
	color: #ffcc00;
	border-color:#ffcc00;
}
*/
.skin-blue .main-header .navbar {
	background-color: #3a3b3c;
}

.skin-blue .main-header .logo {
	background-color: #1a2226;
}

.left-container {
	padding-top: 15px;padding-right:0;
}

.right-container {
	padding-top: 15px;padding-left:0;border-left: 5px solid #fff
}

.attachment {
	border-radius: 3px;
    background: #f4f4f4;
    margin-right: 15px;
    padding: 10px;color: #444
}

.skin-blue .sidebar-form .btn {
	background-color: #00a65a;
    border-color: #008d4c;
    width: 100%;
    color: white;
}
.skin-blue .sidebar-form .btn:hover {
background-color: #008d4c
}

#section-promise2 .fa {
	color: #ffcc00
}

.tb {
border-left-style: solid;
border-left-width: 7px;
padding-left: 20px; 
}


.overflow-scroll {
	overflow-x: scroll;
}

.footer-ul {
	list-style: none;
	padding-left: 0;
}
.footer-ul li a, .color-grey, #section-copy p.color-grey, #section-copy ol.color-grey li {
	color: #aaa

}

.footer-ul li:hover a {
	color: #E9AF10;
	text-decoration: none;
}

.active-order {
	border-color: #ffcc00;
	border : 5px solid #ffcc00;
}
