#main-bg {
	margin-top: 20px;
	background-position: center;
	background: url(../img/main-bg.jpg);
	background-size: cover;
	overflow-x: initial;
	
}

#main-bg h1 {
	margin-top: 30px;
	font-size: 70px;
}

#main-bg p {
	 color:white;
	 font-size: 30px;
}

#main-text {
	text-align:left;
	padding:150px 0 0 80px;
	color: #ffcc00

}

@media only screen and (max-width: 360px) {
 #main-bg b {
    margin-top 30px;
    font-size: 70%;
    color: #ffcc00
  }
  #main-bg p{
  	font-size: 30px
  }
}

#section-whyus {
	margin-top: 90px;
    font-size: 22px;
}
@media only screen and (max-width: 800px){
	#section-howto-arg {
		clear:both;
	}
	#section-howto-arg h1{
		float:left;
		text-align: left ; 
		display="inline";
		margin-left: 8%;
		
	}
	#section-howto-arg h4{
		text-align: left ; 
		float:left;
		margin: 8% 10% 5% 3%;
	}
}
@media only screen and (max-width: 320px){
	#section-howto-arg {
		clear:both;
	}
	#section-howto-arg h1{
		float:left;
		text-align: left ; 
		display="inline";
		margin-left: 5%;
		
	}
	#section-howto-arg h4{
		text-align: left ; 
		float:left;
		margin: 8% 10% 5% 1%;
	}
}


#section-whyus p{
	margin-top:30px;
	margin-bottom: 90px;
    font-size: 18px;
}

#section-service {
	margin-top: 15px;
	margin-bottom: 30px;
	background: #ffffff;
}

#section-service h3 {
	font-size: 22px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#section-service p {
font-size: 14px;
}

#section-howto {
	
	padding-top:30px;
	padding-bottom:60px;
	background: #f9f9f9;
}

#section-howto h3 {
	text-align: center;
}


#section-howto h2 {
margin-bottom: 40px;
margin-top: 30px;
}

#section-howto h4 {
/*margin-top: 30px;*/
}

#section-howto h1{
	font-size:50px;
	color: #ffcc00;
}

#section-feedback h2{
	margin-top:30px;
	margin-bottom: 40px;
}

#section-contact h6{
	font-size: 18px;
	color:#E9AF10;
}

#section-contact {
	margin-top: 50px;
	/*margin-left: 60px;*/
}

#section-contact h2 {
	margin-bottom: 50px;
	margin-top:40px;
}

#testimonial {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%
}

#testimonial .carousel-inner .item{
    padding-left: 11%;
    padding-right: 50%;
    padding-top: 5%;
}

#testimonial .carousel-inner .item p{
	color: white;
	font-size: 2em;
	text-align: justify;
} 

#testimonial .carousel-inner .item h6{
	text-align: right;
	margin-top: 5%;
	font-size: 2em;
	color: white
}

#testimonial .carousel-indicators {
	left: initial;
	right: 40px;
    position: absolute;
    width: auto;
    bottom: 10px
}

.carousel-indicators li {
	background-color: white;
	width: 6px;
	height: 6px;
	margin: 3px;
}

.carousel-indicators .active {
	background-color: #ffcc00;
	border-color: #ffcc00;
	width: 6px;
	height: 6px;
	margin: 3px
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.panel-dark select{
	margin: 20px 0 
}


@media screen and (max-width: 768px) {
	#testimonial .carousel-inner .item p{
		font-size: 1em;
	} 

	#testimonial .carousel-inner .item h6{
		font-size: 1em;
	}
}
#section-copy p{
	color:#E9AF10;
	font-size: 10px;
}
#section-copy h6{
	color:#E9AF10;
}
#section-copy h5{
	color:#E9AF10;
}
#section-copy li{
	color:#E9AF10;
	font-size: 10px;
	text-align: justify;
}
#section-copy ul  {
 padding-left:0;   
}
#section-copy ul li  {
 list-style-position:inside
}
#section-copy ol  {
 padding-left:0;   
}
#section-copy ol li  {
 list-style-position:inside
}

.padding-botton-25{
	padding-bottom: 25px ;
}

.padding-top-50{
	padding-top:50px;
}